# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_th1s_p@ssword

# MinIO configuration
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_th1s_p@ssword

# Grafana configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin