.form-container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.form-post {
  width: 100%;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
}

.form-header {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-bottom: 1px solid var(--border);
}

.form-group {
  flex: 1;
}

.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border);
  font-size: 12px;
  color: #a0a6b6;
}

