.link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: var(--primary-hover);
}

.link-board {
  display: inline-flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 8px;
}

.link-board:hover {
  background: var(--secondary-hover);
}
