.mf-text{
    color: var(--foreground);
    font-size: 1rem;
}

/* Variants */
.mf-text-big{
    font-size: 2.5rem;
    font-weight: bold;
}

.mf-text-middle{
    font-size: 1.2rem;
}

.mf-text-primary{
    color: var(--primary);
}

.mf-text-muted{
    color: var(--muted-foreground);
}