@model UserViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .registration-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 500px;
    }

        .registration-form h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .registration-form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .registration-form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

            .registration-form input[type="submit"] {
                background-color: #28a745;
                color: white;
                border: none;
                cursor: pointer;
            }

                .registration-form input[type="submit"]:hover {
                    background-color: #218838;
                }

    .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
    }

</style>

<div class="registration-form">
    <h2>Регистрация</h2>
    <form method="POST" asp-controller="Users" asp-action="Create">
        <div>
            <label asp-for="Username">Имя</label>
            <input asp-for="Username" />
        </div>

        <div>
            <label asp-for="Email">Почта</label>
            <input asp-for="Email" />
        </div>

        <div>
            <label asp-for="Password">Пароль</label>
            <input asp-for="Password" />
        </div>

        <div>
            <label asp-for="PasswordConfirm">Повторите пароль</label>
            <input asp-for="PasswordConfirm" />
        </div>
        <div class="error-message" asp-validation-summary="All"></div>
        <div>
            <input type="submit" value="Создать" />
        </div>
    </form>
</div>

