@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }
}

@keyframes highlight {
  0% {
    background-color: rgba(255, 255, 0, 0.4);
  }
  100% {
    background-color: transparent;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
}

.fade-in-up {
  opacity: 0;
  animation: fade-in-up 0.7s ease-out forwards;
}

.delay-200ms {
  animation-delay: 0.2s;
}

.delay-300ms {
  animation-delay: 0.3s;
}

.delay-400ms {
  animation-delay: 0.4s;
}

.delay-500ms {
  animation-delay: 0.5s;
}

.staggered-fade-in > * {
  opacity: 0;
  animation: fade-in-up 0.5s ease-out forwards;
}

.staggered-fade-in > *:nth-child(1) {
  animation-delay: 0.1s;
}

.staggered-fade-in > *:nth-child(2) {
  animation-delay: 0.2s;
}

.staggered-fade-in > *:nth-child(3) {
  animation-delay: 0.3s;
}

.staggered-fade-in > *:nth-child(4) {
  animation-delay: 0.4s;
}

.staggered-fade-in > *:nth-child(5) {
  animation-delay: 0.5s;
}

.staggered-fade-in > *:nth-child(6) {
  animation-delay: 0.6s;
}

.staggered-fade-in > *:nth-child(7) {
  animation-delay: 0.7s;
}

.staggered-fade-in > *:nth-child(8) {
  animation-delay: 0.8s;
}

.post-highlight {
  animation: highlight 1.5s ease-out;
}
