:root {
    --background: #1c2231;
    --foreground: #ecf0f8;
    --primary: #ff9500;
    --primary-hover: #A66100;
    --secondary: #2a303d;
    --secondary-hover: #353d4f; 
    --muted: #485267;
    --muted-foreground: #a1adcf;
    --border: #2a303d;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}