@model List<Category>
<header>
    <div class="text-center">
        <h1 class="display-4">Myforum</h1>
        <p>Добро пожаловать.</p>
    </div>
</header>
<main>
    <section class="text-center">
        <p><span>MyForum</span> - это система форумов, где можно общаться быстро и свободно, где любая точка зрения имеет право на жизнь. От вас необходимо только соблюдение правил.</p>
    </section>
    <section>
        <div class="table-bordered">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var cat in Model)
                {
                    <li><a href="/@cat.Name/">@cat.Name</a></li>
                }
            </ul>
        </div>
    </section>
</main>
